body{
  background-image: url('./images/recipe-manage.jpg');
  background-size: cover;
  padding-top: 7rem;

}

.form-control{
  padding:5px;
  margin: 20px;
}

/* .btn{
  margin-left: 10rem;
} */

.sidebar{
  position:sticky;
  height: 100vh;
  width:250px;
  background-color: #2F4050;
}

.sidebarList{
  height: auto;
  width:100% ;
  padding: 0;
}

.sidebarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebarList .row:hover{
  cursor: pointer;
  background-color: #484c50;
}

.sidebarList #active{
  background-color: #484c50;

}


.row #icon{
  flex:30%;
  display: grid;
  place-items: center;

}

.row #title{
  flex: 70%;
}


#container{
  border-radius: 10px;
  background-color: #2F4050;
  margin-top: 10px;
  color: white;
}

.image #size{
  margin: 20px;
  float:left;
  width:30%;
}

.image h1{
  padding: 20px;
}
 #resize{
  width:30%;
}
#card{
  display:flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.card-bar{
  display:flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chart-pie{
  display:flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
}

.btn{
  display: block;
  margin: auto;
}

#form{
  text-align: center;
  width: 24%;
  background-color:black;
  padding: 50px;
  border-radius: 20px;
  margin-top: 150px;
}

@media only screen and (max-width:1024px){
  form{
    width: 100% !important;
  }
  
}

@media only screen and (min-width:1024px){
  form #create{
    width: 50% !important;
  }
  
}

